* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    word-wrap: break-word;
}

:root{
    --black: #262626;
    --green:#08DC0C;
    --blue: #0866FF;
}

.f-width{
    position: relative;
    width: 100%;
}

.color-grey{
    color: grey;
}

.color-green{
    color: var(--green);
}

body {
    font-family: "Outfit", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.95em;
    overflow-x: hidden !important;
    background: var(--black);
}

p {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.95em;   
}


h1 {
    font-size: 42px;
}

h2 {
    font-size: 35px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 21px;
}
h5 {
    font-size: 17px;
}
h6 {
    font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    line-height: 1.5em; 
}

.bold{
    font-weight: bold;
}

.ml-10{
    margin-left: 10px;
}

.mt-30{
    margin-top: 30px;
}

.padding-20{
    padding: 20px;
}

.bt{
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: all .30s ease-in-out;
    border: none;
    outline: none;
    opacity: .8;
    font-size: 18px;
    font-weight: 600;
}

.bt-success{
    background-color: green;
    color: white;   
}

.bt:hover{
    opacity: 1;
}

.bt .icon{
    margin-right: 10px;
}

.bt-fw{
    width: 100%;
}

.anim-btn{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}


.anim-btn:after {
    content: "";
    background: var(--black);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
  
.anim-btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.default-btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;   
    cursor: pointer;  
    outline: none;
    border: none;
}

.bt-pill{
    border-radius: 20px;
}

.flex{
    display: flex;
} 

.space-between{
    justify-content: space-between;
} 

.align-center{
    align-items: center;
}

.mt-10{
    margin-top: 10px;
}

.mr-10{
    margin-right: 10px;
}

.gap-10{
    gap: 10px;
}

.pointer{
    cursor: pointer;
}

.play-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black);
    background-color: white;
}

.play-wrap:hover{
    border: 3px solid var(--black); 
    color: var(--green);  
}

/**Play Button Sizes **/

.mini-play{
    width: 45px;
    height: 45px;
}

.medium-play{
    width: 80px;
    height: 80px;
}

.medium-play .icon{
    font-size: 40px;
}

.play-circle{
    border-radius: 100%;
}

.no-decoration{
    text-decoration: none;
    color: inherit;
}

.mood-filter{
    min-width: 250px;
    padding: 10px;
    border: 2px solid var(--black);
    font-weight: 500;
    font-size: 18px;
}

.icon-sm{
    font-size: 14px;
}

.hidden{
    display: none;
}